html
  head
    title= title
  body
    div#cowport
    h1= message
    ul.note-list
      each val in docs
        li(id=val._id onclick="key.sendKeyPress(id)")
          span.list-title= val.title ? val.title : 'untitled'
          br
          span.list-date= val.created_date

    script(src="./js/test.js")
