html
  head
    title= title
  body
    h1= message
    ul.note-list
      each val in docs
        li(id=val._id)
          span.list-title= val.title ? val.title : 'untitled'
          br
          span.list-date= val.created_date
